.main-content-carousel-content{
    overflow: hidden;
    height: 100%;
}
.main-content-carousel-content ul{
    position: relative;
    overflow: hidden;
    height: 100%;
    transition-timing-function: linear;
    transition-property: left;
}
.main-content-carousel-content li{
    height: 100%;
    float: left;
}
.main-content-carousel-content img{
    height: 100%;
    width: 100%;
}