:local(.header){
   position: relative;
}
:local(.header) p{
    position: absolute;
    right: 0;
    top:0;
}
:local(.header) a{
    margin-left: 20px;
    color:#888;
    font-size: 12px;
    font-family: 'homeicon';
    font-weight: normal;
}
:local(.header) a:hover{
    color:#2FC3A3;
}
.news-title{
    color:#2fc3a2;
    font-size: 16px;
}