
.news-box-content-list{
   float:left;
   width: 320px;
   height:100%;
   padding:20px 0;
   /* justify-content: space-around; */
   /* flex-direction: column; */
   /* display: flex; */
   
}
.news-box-content-list a{
    color:#767676;
    font-size: 13px;
}
.news-box-content-list li{
    line-height: 21px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}
.news-box-content-list li>a:hover{
    text-decoration: underline;
}
.news-box-content-list li>div{
    padding-right: 50px;
    width:270px;
    box-sizing: border-box;
    float: right;
}