
:local(.item){
    display: block;
    border-bottom: 1px solid #474747;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size:12px;
    color:#d4d4d4;
}
:local(.item):hover{
    color: #fff;
    background-color:rgba(0,0,0,.04);
}
:local(.icon){
    font-family: 'homeicon';
    margin-right: 10px;
    color:#cfae69;
    font-size: 25px;
    vertical-align: middle;
}

